.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    place-content: center;
}

.game-cell {
    width: 200px;
    height: 200px;
    display: grid;
    place-content: center;
}

.top {
    border-top: 1px solid black;
}

.left {
    border-left: 1px solid black;
}

.right {
    border-right: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}

.all {
    border: 1px solid black
}